@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0px;
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    

}

.container{
    
    padding:1%;
    border-radius:15px;
    display: grid;
    grid-template-columns:30% 70%;
    
    
}

#shubham_photo img{
    
    margin-left:auto;
    margin-right: auto;
    display: block;
    border-radius:50%;
}
.profile_section{

    
    border-radius:5px;
    padding:3%;
    background-color: #fff;
 

  
}

.about_shubham_section{
    background-color: #fff;
    margin-left:20px;
    border-radius:5px;
    
    
}
.active_animation{
    animation:open_downward 1s;
    overflow: hidden;
}
#about_titles_list  li{
    display: inline;
    color:rgb(116, 4, 116);
    font-size:22px;
    cursor:pointer;
    margin-right: 2%;
    
    border-start-end-radius: 5px;
    

}
.about_section_title{
    border-bottom:1px solid #dadada;
}
.about_section_body{
    
    padding:2%;
    
    
}
.education_timeline{
    float:right;
    display:inline;
}
.dot {
    position:absolute;
    left: -17px;
    height: 20px;
    width: 20px;
    
    background-color: rgb(255, 255, 255);
    border:5px solid #ff9d00;
    border-radius: 50%;
    display: inline-block;

  }
.education_section_list{
    
    position:relative;
    border-left:5px dotted rgb(116, 4, 116);
    list-style-type: none;
    padding-left:20px;
    /*animation:expand 5s;*/
    

}
#shubham_profile_data{
    font-weight:700;
    font-size:40px;
    color:#575757;
}
.social_links_section{
    text-align:center;
}
.social_links_section span a {

    margin:10px;
    
}

.about_title{
    
    padding:1%;
    padding-bottom: 15px;
}
.about_title_active{
    border-bottom:5px solid #ff9d00;
    color:#ff9d00 !important;
}
.body_content{
    display:none;
}


/*CSS animation */


@keyframes open_downward{
    0%{height:10%}
    100%{height: 100%;}
}

/*CSS MediaQueries */
@media only screen and (max-width: 767px) {
    .container{
        display:block;
        
    }
    .about_shubham_section{
        margin-left: 0px;
    }
    #about_titles_list  li{
        display:block;

    }
    .dot{
        left: -10px;
        height: 5px;
        width: 5px;
    }

}